# Assignment 16

***Name: Sushrut Gaikwad***

## Question 1
**Create a list called `years_list`, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in `1980`. the list would be**
```
years_list = [1980, 1981, 1982, 1983, 1984, 1985].
```

**Answer:**

In [1]:
year_list = [1998, 1999, 2000, 2001, 2002, 2003]
year_list

[1998, 1999, 2000, 2001, 2002, 2003]

## Question 2
**In which year in `years_list` was your third birthday? Remember, you were `0` years of age for your first year.**

**Answer:**

2001.

In [2]:
year_list[3]

2001

## Question 3
**In the `years_list`, which year were you the oldest?**

**Answer:**

2003.

In [3]:
year_list[-1]

2003

## Question 4
**Make a list called `things` with these three strings as elements: `"mozzarella"`, `"cinderella"`, `"salmonella"`.**

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

## Question 5
**Capitalize the element in `things` that refers to a person and then print the list. Did it change the element in the list?**

**Answer:**

In [5]:
things[1].capitalize()

'Cinderella'

In [6]:
things

['mozzarella', 'cinderella', 'salmonella']

In [7]:
things[1] = things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

## Question 6
**Make a `surprise` list with the elements `"Groucho"`, `"Chico"`, and `"Harpo"`.**

**Answer:**

In [8]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

## Question 7
**Lowercase the last element of the `surprise` list, reverse it, and then capitalize it.**

**Answer:**

In [9]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1] = surprise[-1].capitalize()

surprise

['Groucho', 'Chico', 'Oprah']

## Question 8
**Make an English-to-French dictionary called `e2f` and print it. Here are your starter words: `dog` is `chien`, `cat` is `chat`, and `walrus` is `morse`.**

**Answer:**

In [10]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

## Question 9
**Write the French word for `walrus` in your three-word dictionary `e2f`.**

**Answer:**

In [11]:
e2f['walrus']

'morse'

## Question 10
**Make a French-to-English dictionary called `f2e` from `e2f`. Use the `items` method.**

**Answer:**

In [12]:
f2e = {}

for english, french in e2f.items():
    f2e[french] = english
    
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

## Question 11
**Print the English version of the French word `chien` using `f2e`.**

**Answer:**

In [13]:
f2e['chien']

'dog'

## Question 12
**Make and print a set of English words from the keys in `e2f`.**

**Answer:**

In [14]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

## Question 13
**Make a multilevel dictionary called `life`. Use these strings for the topmost keys: `'animals'`, `'plants'`, and `'other'`. Make the `'animals'` key refer to another dictionary with the keys `'cats'`, `'octopi'`, and `'emus'`. Make the `'cats'` key refer to a list of strings with the values `'Henri'`, `'Grumpy'`, and `'Lucy'`. Make all the other keys refer to empty dictionaries.**

**Answer:**

In [15]:
life = {
    'animals': {
        'cats': [
            'Henri',
            'Grumpy',
            'Lucy'
        ],
        'octopi': {
            
        },
        'emus': {
            
        }
    },
    'plants': {
        
    },
    'other': {
        
    }
}

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

## Question 14
**Print the top-level keys of `life`.**

**Answer:**

In [16]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

## Question 15
**Print the keys for `life['animals']`.**

**Answer:**

In [17]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

## Question 16
**Print the values for `life['animals']['cats']`.**

**Answer:**

In [18]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']