# Assignment 1

***Name: Sushrut Gaikwad***

## Question 1
**In the elements given below, which of them are values (e.g., an integer or a string), and which of them are expressions (e.g., mathematical operators)?**

`*, 'hello', -87.8, -, /, +, 6`

**Answer:**

The following are values:

`'hello', -87.8, 6`

The following are expressions:

`*, -, /, +`

## Question 2
**What is the difference between a string and a variable?**

**Answer:**

String is a datatype for a data which is list of characters. These characters are enclosed in quotation marks. Whereas a variable is an entity which stores data in the local memory.

## Question 3
**Describe three datatypes.**

**Answer:**

Integer: As the name suggests, it is a datatype for integer data.

Float: This is a datatype for numerical data containing decimals.

String: This is a datatype for a data which is a list of characters. These characters are enclosed in quotation marks.

## Question 4
**What is an expression made up of? What do all expressions do?**

**Answer:**

An expression is made up of different mathematical operations. Expressions relate different variables.

## Question 5
**Example of an assignment statement is as follows:**

`spam = 10`

**What is the difference between an expression and a statement?**

**Answer:**

A statement assigns data to a variable, whereas an expression is made up of mathematical operations. Expressions relate different variables.

## Question 6
**Run the following code:**

`bacon = 22`

`bacon + 1`

**What does the variable `bacon` contain?**

**Answer:**

In [1]:
bacon = 22
bacon + 1

23

In [2]:
bacon

22

We can see that the variable `bacon` contains the integer `22`.

## Question 7
`'spam' + 'spamspam'`

`'spam' * 3`

**What should the values of the above two terms be?**

**Answer:**

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

We can see that the value of both is identical, i.e, `'spamspamspam'`.

## Question 8
**Why is `eggs` a valid variable name while `100` is not?**

**Answer:**

In python, we cannot name variables with numbers. Even the first letter of a variable cannot be a number.

In [5]:
10 = 5

SyntaxError: cannot assign to literal (Temp/ipykernel_10640/960207516.py, line 1)

In [6]:
1p = 5

SyntaxError: invalid syntax (Temp/ipykernel_10640/2655738183.py, line 1)

## Question 9
**What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Answer:**

This is known as typecasting. These functions are `int()`, `float()`, and `str()` respectively.

## Question 10
**Does the following expression cause an error?**

`'I have eaten ' + 99 + ' burritos.'`

**If yes, how can you fix it?**

**Answer:**

This expression will cause an error because we cannot concatenate an integer to a string. To fix this error, we would have to convert `99` into a string. We can do this using the `str()` function, which is shown in the following cell.

In [7]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'